
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E8F0;
    user-select: none;
}

#calculator {
    width: 260px;
    background-color: #1E293B; 
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.275);
    padding: 20px;
}

#display {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    background-color: #334155; 
    color: #F1F5F9;
    border-radius: 6px;
    font-size: 20px;
    text-align: right;
}

.btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* Number buttons */
.number {
    background-color: #475569; 
    color: #F1F5F9;
}
.number:hover {
    background-color: #64748B;
}

 /* Operator buttons   */
.operator {
    background-color: #14B8A6; 
    color: #F0FDFE;
}
.operator:hover {
    background-color: #2DD4BF;
}

/* AC and Delete button */
.special {
    background-color: #EF4444;
    color: #FFFFFF;
}
.special:hover {
    background-color: #DC2626;
}

/* Equals button */
.equals {
    width: 115px;
    background-color: #0D9488; 
    color: white;
}
.equals:hover {
    background-color: #0F766E;
}
